trigger:
- none

pool: agent1_pool

   

stages:
# =========================
# CI STAGE – BUILD
# =========================
- stage: Build
  jobs:
  - job: BuildWAR
    pool:
      name: agent1_pool
    steps:
    - checkout: self

    - script: |
        echo "Current dir:"
        dir
        mvn clean package -DskipTests
      displayName: "Maven Build"

    - script: |
        echo "Maven target directory:"
        dir target
      displayName: "Check target folder"

    - script: |
        echo "Searching for WAR..."
        dir /s *.war || echo "WAR not found"
      displayName: "Find WAR"

    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: '$(System.DefaultWorkingDirectory)/target'
        ArtifactName: 'drop'
        publishLocation: 'Container'


# =========================
# CD STAGE – DEPLOY TO TOMCAT
# =========================
- stage: CDD
  displayName: "Deploy to Dev"
  dependsOn: Build
  jobs:
  - job: DeployWAR
    displayName: "Deploy WAR to Tomcat"
    steps:

    - task: DownloadPipelineArtifact@2
      displayName: "Download Build Artifact"
      inputs:
        buildType: 'current'
        artifactName: 'drop'
        targetPath: '$(System.DefaultWorkingDirectory)/target'

    - task: CopyFilesOverSSH@0
      displayName: "Copy WAR to Linux Server"
      inputs:
        sshEndpoint: 'ssh_ado'
        sourceFolder: '$(System.DefaultWorkingDirectory)/target'
        contents: '*.war'
        targetFolder: '/home/vinodadmin'
        cleanTargetFolder: true
        readyTimeout: '20000'

    - task: SSH@0
      displayName: "Deploy WAR to Tomcat"
      inputs:
        sshEndpoint: 'ssh_ado'
        runOptions: 'commands'
        commands: |
          sudo cp /home/vinodadmin/*.war /var/lib/tomcat10/webapps/
          sudo systemctl restart tomcat10
        readyTimeout: '20000'